(

	endpoints: [

		(
			url: "https://subgraph.satsuma-prod.com/daba7a4f162f/teller--16564/tellerv2-pools-mainnet/api",

			body: "{\"query\":\"{ _meta { block { number hash } } }\"}",  

		)






	]
)