(

	endpoints: [



		(
			name: "TheGraph TellerV2 Mainnet",

			url:"https://gateway.thegraph.com/api/subgraphs/id/4JruhWH1ZdwvUuMg2xCmtnZQYYHvmEq6cmTcZkpM6pW",

			auth_key:Some("THEGRAPH_AUTH_TOKEN"),


			body: "{ _meta { block { number hash } } }",  
		),


		(
			name: "TheGraph TellerV2 Base",

			url:"https://gateway.thegraph.com/api/subgraphs/id/8jSq7mzq9HEiJEcAZfvrTT4wYk59oMxm82xUpcVBzryF",

			auth_key:Some("THEGRAPH_AUTH_TOKEN"),


			body: "{ _meta { block { number hash } } }",  
		),

		(
			name: "TheGraph TellerV2 Arbitrum",

			url:"https://gateway.thegraph.com/api/subgraphs/id/F2Cgx4q4ATiopuZ13nr1EMKmZXwfAdevF3EujqfayK7a",

			auth_key:Some("THEGRAPH_AUTH_TOKEN"),


			body: "{ _meta { block { number hash } } }",  
		),

		(
			name: "TheGraph TellerV2 Polygon",

			url:"https://gateway.thegraph.com/api/subgraphs/id/BBp2ZJTG8j4sx9gLoFYN6iLCpWQsNpoiYjXNwRcE3DQr",

			auth_key:Some("THEGRAPH_AUTH_TOKEN"),


			body: "{ _meta { block { number hash } } }",  
		),





		 (	
		    name: "Goldsky PoolV1 Mainnet",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-pools-mainnet/0.4.21.6/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),

	    (	
		    name: "Goldsky PoolV1 Base",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-pools-base/0.4.21.4/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


	    (	
		    name: "Goldsky PoolV1 Arbitrum",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-pools-arbitrum/0.4.21.4/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


	      (	
		    name: "Goldsky PoolV1 Polygon",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-pools-polygon/0.4.21.4/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),



	      (	
		    name: "Goldsky PoolV2 Mainnet",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-poolsv2-mainnet/0.4.21.5/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


	      
	      (	
		    name: "Goldsky PoolV2 Base",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-poolsv2-base/0.4.21.5/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


	       (	
		    name: "Goldsky PoolV2 Arbitrum",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-poolsv2-arbitrum/0.4.21.5/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


	       (	
		    name: "Goldsky PoolV2 Polygon",
			url: "https://api.goldsky.com/api/private/project_cmgzjtkxv004t5np2ea5j9zt1/subgraphs/tellerv2-poolsv2-polygon/0.4.21.5/gn",

			auth_key: Some("GOLDSKY_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


		 




		(	
		    name: "Ormi PoolV1 Mainnet",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/QmSSDg8XePRJu5zibC955LHNV9Au5GPq7qPcUTrmsQu8Wt",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),


		(	
		    name: "Ormi PoolV1 Arbitrum",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/Qme9KeTZdLrVyHh3QRucvjgfnHKkmndjqGEW6hMFKxWv3o",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),

 
		(	
		    name: "Ormi PoolV1 Base",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/QmekaTZkP9r4mHHawko2z4YLHo7XTfNZ7FrbotViDe6pYt",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),



		(	
		    name: "Ormi PoolV1 Polygon",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/QmSeGXy47e9jPAjuaxQ5WwQthzCmMfthh3NKNzLTNm7Cmw",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),



		(	
		    name: "Ormi PoolV2 Mainnet",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/QmW6TetrwFmjiCrTCW15SskJThJvRTvpJVrRNtGMBX51Ag",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),

		(	
		    name: "Ormi PoolV2 Base",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/Qmb86xPeygvQFMmNN9j8aiCXqqFrcsKHu6nTrqfQwPeoqb",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),

		(	
		    name: "Ormi PoolV2 Arbitrum",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/QmSexfnJV8EZTuVmoXaXJTKpJ7Q6ymPmPV7ShppTWZFe12",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),



		 (	
		    name: "Ormi PoolV2 Polygon",
			url: "https://api.subgraph.migration.ormilabs.com/subgraphs/id/QmSdT2h3HGXjZ6j2YtTWRJFVm8EJYumzcnfRAgCoFxczmR",

			auth_key: Some("ORMI_AUTH_TOKEN"), 

			body: "{ _meta { block { number hash } } }",  

		),




		 




	]
)